<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var item in ViewBag.MenuLSP)
            {

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">@item.TenLSP</a></h4>
            </div>
        </div>

            }
</div><!--/category-products-->
