<div class="brands_products">
    <!--brands_products-->
    <h2>Hãng</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in ViewBag.MenuHDT)
                {
                   var url = "/SanPham/" + item.TenNSX + "-" + item.MaNSX;
                    <li><a href="@url"> <span class="pull-right">(50)</span>@item.TenNSX</a></li>
                 }
            
        </ul>
    </div>
</div><!--/brands_products-->
