
@{
    ViewBag.Title = "Trang chủ";
}

<div class="features_items">
    <h2 class="title text-center">Sản phẩm nổi bật</h2>
    @foreach (var item in ViewBag.SanPhamNoiBat)
    {
        <!--features_items-->
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="../@item.HinhAnh" style="width:150px; height:170px;" alt="">
                        @{String str = String.Format("{0:0,0}", item.Gia);}
                        <h2>@str</h2>
                        <p>@item.TenSanPham</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>@item.Gia)</h2>
                            <p>@Html.ActionLink((string)item.TenSanPham, "Details","SanPham", new { id = item.MaSanPham },null)</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div><!--features_items-->